.jumbotron {
    background-image: url('../about/assets/pexels-photo-1323645.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}

.col-6 {
    background: rgba(255, 255, 255, .7);
    height: 15rem;
    top: 8rem;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 6px -6px pink;
       -moz-box-shadow: 0 10px 6px -6px pink;
            box-shadow: 0 10px 6px -6px pink;
}

.display-4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    text-shadow: 2px 2px 4px #ffffff;
    text-align: center;
}

.lead {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px #ffffff;
    text-align: center;
}