

<div class="jumbotron jumbotron-fluid">
    <div id="about"></div>
  <div class="container">
    <h1 class="display-4">Flower Power</h1>
    <p class="lead">Voted Best Garden Center by Indy’s A-List, Flower Power Garden has been selling plants since the early 1960s. Spend some time wandering through our garden centers where you’ll find beautiful annuals, perennials, trees and shrubs.<br>Since opening, Flower Power has been known as an eclectic hub of garden-inspired home decor and gifts. The Garden Cottage at our Broadripple location is one of Indianapolis' favorite treasures. The Flower Power family boasts a reputation for excellent customer service and a Master Gardener program. </p>
  </div>
</div>

<!--Contact Section-->
<div class="jumbotron-one jumbotron-fluid">
 <section id="contact">
  <div class="container">
    <a id="contact"></a>
    <br>
    <h2 id="Contact" class="text-center text-uppercase">Contact Us</h2>
    <div class="row">
      <form class="form" action="https://formspree.io/reardon.e.michael@gmail.com" method="POST">
        <div class="control-group">
          <div class="form-group">
            <label class="label">Name</label>
            <input type="text" class="form-control" placeholder="Your Name" id="name" required
              data-validation-required-message="Please enter your name" name="name">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group">
            <label class="label">Email Address</label>
            <input type="email" class="form-control" placeholder="Your Email" id="email" required
              data-validation-required-message="Please enter your email" name="_replyto">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group">
            <textarea class="form-control" rows="7" placeholder="Your Message" id="message" required
              data-validation-required-message="Please leave a message" name="message"></textarea>
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="text-center">
          <div id="success"></div>
          <button type="submit" class="btn btn-lg btn-black">
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
            Send Message
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
</div>

