
<nav id="navback" class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li  class="nav-item">
          <a id="colorText" class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a id="colorText" class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a id="colorText" class="nav-link" href="#products">Products</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

      
<router-outlet></router-outlet>

